@import url(
  https://fonts.googleapis.com/css?family=Open+Sans:300,
  300italic,
  regular,
  italic,
  600,
  600italic,
  700,
  700italic,
  800,
  800italic
);

body {
  font-family: "Open Sans";
  background-color: #e1e2e3;
}

hr {
  border: 2px solid #343a40;
  width: 12%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.stackBorder {
  border: 2px solid #144e76;
  border-radius: 8px;
}

.stackContent {
  border: 1px solid #144e76;
  font-size: 33px;
}
